body{
    background-color: rgba(0, 0, 0, 0.815);
}
.menu{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #00000046;
    position: sticky;
    top: 0;


}
.menu ul{
    display: flex;
    list-style:none ;
    margin: 20px 0px;
    font-weight: bold;
}
.menu ul li{
    font-family:Bahnschrift Light;
}
.menu ul li a{
    text-decoration: rgb(29, 112, 79);
    color:rgb(241, 197, 139);
    padding: 20px 50px;
    transition: all .5s ease;
}
.menu ul li a:hover{
    background-color:#c9924a;
    color:rgb(37, 31, 31);
    box-shadow:0 0 10px antiquewhite;
    transition: all .5s ease;
}
#Welcome{
    display: flex;
    flex-direction: column;
    height: 840px;
    justify-content: center;
    align-items: center;
    color:#dae9e8;


}
#Welcome::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    background: url('Leo.png') center/cover;
    height:1300px;
    width: 100%;
    z-index: -1;
    opacity: .6;
}
.h{
    height: 300px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60%;
    right: 0%;
    text-align: center,bottom;
    font-size: 13px;
    color:#fefbd8;
    font-family: Bahnschrift Light;
    border-radius: 500px;
    background-color:#61868570;
    display: inline-block;

}
h1{
    font-size:20px;
    font-family:Segoe Script;
    color: #fefbd8;
    margin-bottom: 0px;
}
h3{
    font-family:Segoe Script;
    color: #fefbd8; 
    margin-top: 10%;
    margin-bottom: 10px;
}
/*About me Section */
.title{
    margin-bottom: 0%;
}
.title h1{
    font-size: 2cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.des{
    margin-left: 1%;
    margin-top: 5%;
    
}
.des img{
   width: 45%;
    
}
.parag{
    margin-top: 5%;
    right: 1%;
    left: 50%;
    width: 40%;
    height: auto;
    position:absolute;
    border: 8px solid #f4f4f4;
    border-style:double;
    border-radius: 10%;
    padding: 10px;
    background-color: #244c4b52;
}
.parag p{
    font-size: 14px;
    margin-top:5%;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: #d4dabf;
}